/* Global background */
#back {
	background-image: url(/img/123.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#calcBox {
	background-color: #afb7bf;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 150px;
	border: 1px black solid;
}
#inputTwo,
#inputOne {
	font-family: "Monda", sans-serif;
	font-weight: 500;
	line-height: 15px;
	font-size: 16px;
	margin: 10px;
	width: 100px;
	color: #1b1a1a;
}
#buttonS,
#buttonN,
#buttonM,
#buttonD {
	font-family: "Monda", sans-serif;
	font-weight: 500;
	line-height: 15px;
	font-size: 16px;
	color: #1b1a1a;
	margin: 5px;
}
#buttonS,
#buttonN,
#buttonM,
#buttonD {
	width: 45px;
	height: 30px;
}
#result {
	font-family: "Monda", sans-serif;
	font-weight: 500;
	line-height: 15px;
	font-size: 24px;
	color: #1b1a1a;
	margin: 5px;
}
#calculator {
	padding-top: 25px;
	padding-bottom: 15px;
}
#inputs,
#result,
#buttonsRes,
#calculator {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
/* Main styles */
.main {
	background-color: #e5e5e5;
	margin: 0 auto;
}
body {
	font-family: "Monda", sans-serif;
}
