/* Global background */

#back {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#calculator {
    background-color: #afb7bf;
    width: 1200px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: 1px black solid;
    font-size: 42px;
    padding-top: 25px;
    padding-bottom: 15px;
}

#calcBox {
    display: flex;
    flex-direction: row;
    background-color: #afb7bf;
    width: 1200px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    border: 1px black solid;
    margin-bottom: 500px;
}

.leftbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outputDay,
.outputMonth,
.outputAccumulate {
    font-size: 22px;
    font-size: medium;
}

.midbox {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.rightbox {
    margin: auto;
}

input {
    width: 150px;
    height: 30px;
    border-radius: 20px 2px 20px 2px;
}

.operation-button {
    font-weight: 500;
    line-height: 15px;
    font-size: 16px;
    color: #1b1a1a;
    margin: 5px;
    width: 45px;
    height: 30px;
}

#result {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
    color: #1b1a1a;
}

#outputDay,
#outputAccumulate {
    margin-top: 40px;
}

#clearButton {
    font-size: 22px;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
}

#inputCosts {
    margin-top: 30px;
    margin-left: 30px;
}

#inputTitle {
    font-size: 25px;
    font-style: normal;
    display: flex;
    margin: auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

#inputCosts,
#inputIncome {
    font-size: 25px;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    height: 60px;
    width: 550px;
}

.inputboxes {
    font-family: 'Shadows Into Light', cursive;
    font-size: medium;
}

#inputSalary,
#inputFreelance,
#inputAdditionally,
#inputCommunal,
#inputTransport,
#inputCredit {
    display: flex;
    justify-content: center;
    margin: 5px;
}


/* Main styles */

.main {
    background-color: #e5e5e5;
    margin: 0 auto;
}

#labelLine {
    font-size: 16px;
    font-style: normal;
}

#testSlider {
    display: flex;
    border: #1b1a1a 2px solid;
    width: 460px;
    height: 300px;
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color: #afb7bf;
}

#slideR {
    margin: auto;
    margin-left: 1%;
}

#slideL {
    margin: auto;
    margin-right: 1%;
}

body {
    font-family: 'Shadows Into Light', cursive;
}